<div class="container mx-auto sm:flex sm:items-start pt-10">
  <div class="w-full sm:w-1/4 md:w-1/5 sm:shadow">
    <ul class="flex flex-col font-medium text-gray-700 mb-8">
      <li>
        <a class="block bg-sky-100 rounded py-1 px-3 text-sky-700"
          ><fa-icon [icon]="iconTrello"></fa-icon> Boards</a
        >
      </li>
      <li>
        <a class="block py-1 px-3"
          ><fa-icon [icon]="iconBox"></fa-icon> Templates</a
        >
      </li>
      <li>
        <a class="block py-1 px-3"
          ><fa-icon [icon]="iconWave"></fa-icon> Home</a
        >
      </li>
    </ul>
    <cdk-accordion>
      <cdk-accordion-item #accordionItem="cdkAccordionItem">
        <button class="w-full py-1 px-2 flex justify-between" (click)="accordionItem.toggle()">
          My workspace
          <fa-icon [icon]="accordionItem.expanded ? iconAngleUp : iconAngleDown"></fa-icon>
        </button>
        <div  [style.display]="accordionItem.expanded ? 'block' : 'none'">
          <ul class="ml-2 flex flex-col text-sm text-gray-700">
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="iconTrello"></fa-icon> Boards</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="iconHeart"></fa-icon> Highlights</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="iconBorderAll"></fa-icon> Views</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="iconUsers"></fa-icon> Members</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="iconGear"></fa-icon> Settings</a
              >
            </li>
          </ul>
        </div>
      </cdk-accordion-item>
    </cdk-accordion>
  </div>
  <div class="w-full sm:w-3/4 md:w-4/5 px-5">
    <h1 class="text-lg font-bold mb-4"><fa-icon [icon]="iconClock"></fa-icon> Recently viewed</h1>
    <div class="grid grid-cols-2 gap-2 lg:grid-cols-4 lg:gap-4">
      <app-card-color *ngFor="let board of boards" [color]="board.backgroundColor">
        <a [routerLink]="[board.id]">
          <div class="h-24">{{board.title}}</div>
        </a>
      </app-card-color>
    </div>
  </div>
</div>
