<div class="flex flex-col h-screen">
  <app-navbar></app-navbar>
  <div class="w-full grow bg-sky-600 pb-14">
    <div class="p-6">
      <input class="rounded bg-gray-100 border-2 border-gray-300" type="search" placeholder="Buscar..." [formControl]="search" />
    </div>
    <table class="w-full text-sm text-left text-gray-500" cdk-table [dataSource]="products">
      <tr class="text-sm text-gray-700 uppercase bg-sky-200" cdk-header-row *cdkHeaderRowDef="columns"></tr>
      <tr class="bg-white border-b" cdk-row *cdkRowDef="let row; columns: columns"></tr>
      <tr class="text-xl text-gray-700 bg-sky-400 fixed bottom-0 w-full" cdk-footer-row *cdkFooterRowDef="columns"></tr>
      <ng-container cdkColumnDef="id">
        <th class="py-3 px-6" cdk-header-cell *cdkHeaderCellDef>Id</th>
        <td class="py-4 px-6" cdk-cell *cdkCellDef="let row">{{row.id}}</td>
        <th class="py-3 px-6" cdk-footer-cell *cdkFooterCellDef></th>
      </ng-container>
      <ng-container cdkColumnDef="title">
        <th class="py-3 px-6" cdk-header-cell *cdkHeaderCellDef>Title</th>
        <td class="py-4 px-6" [ngClass]="{'bg-red-300': row.price < 250}" cdk-cell *cdkCellDef="let row">{{row.title}}</td>
        <th class="py-3 px-6" cdk-footer-cell *cdkFooterCellDef>Total productos: {{products.data.value.length}}</th>
      </ng-container>
      <ng-container cdkColumnDef="price">
        <th class="py-3 px-6" cdk-header-cell *cdkHeaderCellDef>Price</th>
        <td class="py-4 px-6" cdk-cell *cdkCellDef="let row">{{row.price | currency}}</td>
        <th class="py-3 px-6" cdk-footer-cell *cdkFooterCellDef></th>
      </ng-container>
      <ng-container cdkColumnDef="cover">
        <th class="py-3 px-6" cdk-header-cell *cdkHeaderCellDef></th>
        <td class="py-4 px-6" cdk-cell *cdkCellDef="let row">
          <img class="w-20" [src]="row.images[0]" />
        </td>
        <th class="py-3 px-6" cdk-footer-cell *cdkFooterCellDef></th>
      </ng-container>
      <ng-container cdkColumnDef="actions">
        <th class="py-3 px-6" cdk-header-cell *cdkHeaderCellDef>Price</th>
        <td class="py-4 px-6" cdk-cell *cdkCellDef="let row">
          <app-btn (click)="update(row)">Update</app-btn>
        </td>
        <th class="py-3 px-6" cdk-footer-cell *cdkFooterCellDef></th>
      </ng-container>
    </table>
  </div>
</div>
